h1{
    color:green
}
*{
    border: solid;
}
.header{
    background-color:lightblue;
    display: flex;
    justify-content: space-between;
}
.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icons{
    display: flex;
    justify-content: flex-end
}